body{background: #fff;}
#wrap{background: #fff;}
.best_product p.deliver{bottom:37px;}
span.rank{display:none !important;}

.ul-set ul {display: grid; align-items: stretch;}
.ul-set ul li {min-height: 30px; text-align: center; align-content: center; padding: 5px;}
.ul-set ul.ul-2 {grid-template-columns: 0.5fr 1fr; gap: 0 20px;}
.ul-set ul.ul-3 {grid-template-columns: 1fr 1fr 1fr;}
.ul-set ul.explanation {grid-template-columns: 80px 1fr; border: 1px solid #8ec251;}
.ul-set ul.ul-3 li {border-bottom: 1px solid #eee;}
.ul-set ul.ul-3 li.line-x {border-left: 1px solid #eee; border-right: 1px solid #eee;}

.ul-set ul li p img {width: 100%;}
/* .ul-set ul.explanation li:first-child {background-color: #2c2a29; color: #fff;} */
.ul-set ul.explanation li:last-child {text-align: left; padding: 10px; line-height: 1.8;}

ul.drink_Slide .slick-next,
ul.drink_Slide .slick-next:hover{width:70px; height:70px; border:none; top:50%; right:0px; background:url("/img/arrow_right.png") center no-repeat;}
ul.drink_Slide .slick-prev,
ul.drink_Slide .slick-prev:hover{width:70px; height:70px; border:none; top:50%; left:0px; background:url("/img/arrow_left.png") center no-repeat;}
.slick-initialized ul.drink_Slide{width:1280px !important; height:250px; margin-bottom:20px;}
ul.drink_Slide{width:100%;} 
ul.drink_Slide li{width:195px;margin:0 5px; border:1px solid #ddd; position: relative;}
ul.drink_Slide li p{width:100%; text-align:center;}
.list_top {padding-bottom:5px; border-bottom:1px solid #ddd; width: 100%; display: flex; justify-content: space-between; align-items: center;}
.list_top p {width: 100%;}
.list_top ul {width: auto; display: inline-flex; margin-bottom: 0;}
.list_top ul li {white-space: nowrap;}

.list_top:after{content:''; display:table; clear:both;}
ul.p_list{float:right; }
ul.p_list li{float:left; height:12px; font-size:12px; padding:0 12px; border-right:1px solid #333; line-height:13px;}
ul.p_list li:last-child{border-right:none;}
.rank_prod .rank_prod_list li a p{margin-bottom:0px; text-align: center;}
.prd_list .prd_area .prd_box dd .price{padding-top: 5px;max-height: 30px;overflow:hidden;height: 30px;position: relative;}

.recipe-img p img {width: 100%;}
.recipe_tit{clear:both; width:100%; border-bottom:1px solid #e6e6e6; padding:10px; margin-top: 120px; position: sticky; background-color: #fff; z-index: 20; display: flex; align-items: center;}
.recipe_tit:after{content:''; display:table; clear:both;}
.recipe_tit p {font-size:1.5rem; font-weight: bold; color:#333; margin: 0 auto 0; text-align: center; width: 100%;}
.recipe_tit .button_wrap{display: flex; gap: 0 10px; position: absolute; z-index: 60; left: 10px;}


ul.view_txt{width:75%; margin:0 auto;}
ul.view_txt li{float:right; margin-left:15px;}
ul.view_txt li span{display:inline-block; width:66px; padding:2px 0; margin-right:7px; background:#76777b; color:#fff; text-align:center; border-radius:14px;}
ul.view_txt li p{float:right;}

.rank_prod .rank_prod_list li a p.it-title {font-weight: normal; font-size: 0.8rem;}

.recipe-ul ul {display: flex; align-items: center; gap: 50px;}
.recipe-ul ul p img {width: 100%; max-width: 620px;}
/*장바구니 이벤트*/
.ul-recipe li > a {align-items: center;}
.ul-recipe li  p.price {font-weight: bold;}
.ul-recipe li > a img {width: 150px !important; height: 150px;}
/* .rank_prod:not(.five) .rank_prod_list .Qua {border: none;} */
.swiper.item .swiper-slide .Qua {left: 0;}
.rank_prod .rank_prod_list .Qua .float.save01::before {display: none;}

/*연관상품*/
.rank_prod .rank_prod_list {grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}
.rank_prod .rank_prod_list .rank_prod_div {display: flex;}
.rank_prod .rank_prod_list .rank_prod_div .row_list {position: absolute; z-index: 1; top: 5px; right: 5px;}
.rank_prod .rank_prod_list .rank_prod_div .Qua {order: 0; justify-content: space-between;}
.rank_prod .rank_prod_list .rank_prod_div .Qua .interest.add_wish {cursor: pointer;}
.rank_prod .rank_prod_list .rank_prod_div .icon_wrap2 {justify-content: flex-end}

@media screen and (max-width: 1080px) {
    .ul-set,
	.recipe_tit {margin: 0 20px; width: auto;}
	.recipe_tit {margin-top: 80px; padding: 10px 0;}

    .recipe-ul ul {flex-direction: column; gap: 10px;}
    .recipe-ul ul li {width: 100%;}
    .recipe-ul ul p {text-align: center;}
    .recipe-ul ul p img {max-width: 420px; margin: 0 auto;}

    .rank_prod .rank_prod_list {grid-template-columns: 1fr 1fr 1fr 1fr;}
}

@media screen and (max-width: 920px) {
    .recipe_tit p {text-align: left; padding-left: 195px;}
    /* .recipe_tit p::before {content: "["; display: inline-block; padding-right: 5px;}
    .recipe_tit p::after {content: "]"; display: inline-block; padding-left: 5px;} */
    .ul-set ul.ul-2 {grid-template-columns: 1fr;}

    .rank_prod .rank_prod_list {grid-template-columns: 1fr 1fr 1fr;}
}

@media screen and (max-width: 760px) {
    .recipe_tit {align-items: flex-start; flex-direction: row-reverse; margin: 80px 10px 0;}
    .recipe_tit .button_wrap {position: unset;}
    .recipe_tit p {font-size: 17px; text-align: left; padding: 0 10px 0 0;}

    .list_top {flex-direction: column;}
    .list_top ul {justify-content: flex-end; width: 100%;}
    ul.p_list {margin-top: 20px; align-items: center;}
    ul.p_list li {height: 100%;}
}

@media screen and (max-width: 650px) {
    .rank_prod .rank_prod_list {grid-template-columns: 1fr 1fr;}
    .rank_prod .rank_prod_list .rank_prod_div .row_list {top: 10px;}

    .ul-set ul.explanation {grid-template-columns: 1fr;}
}

@media screen and (max-width: 430px) {
    .rank_prod .rank_prod_list a {width: 100% !important;}
    .rank_prod .rank_prod_list .Qua .float {min-width: unset; width: calc(100% - 75px);}
    .rank_prod .rank_prod_list .Qua .float:has(.add-to-cart) {min-width: unset;}
}