@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    font-family: 'NanumBarunGothic-R';
    src: url('/fonts/nanumbarungothicregular.eot');
    src: url('/fonts/nanumbarungothicregular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/nanumbarungothicregular.woff') format('woff'),
         url('/fonts/nanumbarungothicregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothic-B';
    src: url('/fonts/nanumbarungothicbold.eot');
    src: url('/fonts/nanumbarungothicbold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/nanumbarungothicbold.woff') format('woff'),
         url('/fonts/nanumbarungothicbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,body,h1,h2,h3,h4,div,p,ul,ol,li,dl,dt,dd,img,span,table,tr,th,td,form,fieldset,input,label,select,textarea,button,address,pre,header,footer,nav,section,article	{margin:0; padding:0; border:0;}
img,input,label{border:0; vertical-align: top;}
h1,h2,h3,h4,h5,h6,address,strong{font-weight: normal; font-style:normal;}
li{list-style:none;}
table{border:0; border-collapse:collapse; border-spacing:0;}
caption,legend{display: none;}
body,pre{font-family:'Nanum Gothic', '나눔고딕', 'Dotum', '돋움',sans-serif; font-size:13px; line-height:1.3; color:#333;}
a{text-decoration: none; color:#333;}
a:hover, a:focus{ }
input[type='text'], input[type='password'], input[type='submit'], textarea, select	 {font-family:'Dotum','돋움',sans-serif; font-size:13px;}